@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #fafafa;
  --radius: 0.5rem; 
  --bs-white-rgb:var(--background) !important
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555555;
}

.dark ::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.profile {
  border: 5px solid #3b82f6; 
  border-radius: 50%;
}

.dark .profile {
  padding: 5px;
  border: none;
  background-image: linear-gradient(#2c2828, #2c2828), linear-gradient(90deg, #3b82f6, #1e3a8a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.md\:h-screen{
  height: 80vh !important;
}

.custom-button {
  max-width: 240px;
  width: 40%;
  z-index: 9999;
}

.custom-button:focus {
  --tw-ring-offset-width: 0px !important;
  box-shadow: none !important;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.introduction-text {
  color: #A3A3A3;
}

.custom-card {
  height: 85px !important;
  
}
.custom-card-text {
  color: #ffff!important;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px; 
  border: 2px solid var(--background);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

.follower-card {
  overflow: hidden;
}